{% extends 'base.html.twig' %}

{% block title %}Tristan index{% endblock %}

{% block body %}
    <h1>Tristan index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tristan in tristans %}
            <tr>
                <td>{{ tristan.id }}</td>
                <td>{{ tristan.name }}</td>
                <td>{{ tristan.lastname }}</td>
                <td>
                    <a href="{{ path('app_tristan_show', {'id': tristan.id}) }}">show</a>
                    <a href="{{ path('app_tristan_edit', {'id': tristan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tristan_new') }}">Create new</a>
{% endblock %}
